<perch:pages id="layout_sidebar" label="Sidebar" type="select" options="Show|true,Hide|false" escape="false" help="Choose if this document will have a sidebar of related content" divider-before="Page layout options" suppress="true" />
<perch:pages id="layout_sidebar_reading" label="Show the Reading list?" type="select" options="Show|true,Hide|false" escape="false" suppress="true" />
<perch:pages id="layout_sidebar_reading_count" label="Number of Reading list items" type="select" options="1,2,3,4,5,6,7,8,9,10" escape="false" suppress="true" />
