<perch:before><ul class="c-reading-list"></perch:before>
  <li class="c-reading-list__item">
    <p class="c-reading-list__heading"><a href="<perch:content id="reading_list_item_url" type="text" label="Link URL" required="true" title="false" />" class="c-reading-list__link"><perch:content id="reading_list_item_text" type="text" label="Link text" required="true" title="true" /></a></p>
    <div class="c-reading-list__desc">
      <perch:content id="reading_list_item_description" type="textarea" label="Link description" markdown="true" editor="simplemde" required="true" />
    </div>
  </li>
<perch:after>
</ul>
<perch:if exists="paging">
    <div class="paging">
        Page <perch:blog id="current_page" /> of <perch:blog id="number_of_pages" />
        <perch:blog id="page_links" encode="false" />
        <perch:if exists="not_first_page">
            <a href="<perch:blog id="prev_url" encode="false" />">Previous</a>
        </perch:if>
        <perch:if exists="not_last_page">
            <a href="<perch:blog id="next_url" encode="false" />">Next</a>
        </perch:if>
    </div>
</perch:if>
</perch:after>
