.c-global-header__logo {
  display: block;
  @include aspect-ratio(1,1,'.c-global-header__logo-svg');
  @include mq($until: medium) {
    width: 120px;
    &-fill {
      fill: #fff;
    }
  }
  @include mq($from: medium) {
    width: 135px;
  }
}

.c-global-header {
  @include mq($until: medium) {
    background: transparent url(/public/images/header_bg_until_medium.jpg) no-repeat 50% 50%;
    background-size: cover;
    text-align: center;
    padding-bottom: 2px;
    &__title {
      display: block;
      margin: 0;
      padding: 1rem 0;
      &-text {
        color: #fff;
      }
    }
    &__title-text,
    &__logo {
      display: inline-block;
      vertical-align: middle;
      font-size: 2rem;
      font-weight: bold;
    }
  }

  @include mq($from: medium) {
    padding: 1rem 0 0.5rem;
  }

}
