.c-person-card {

  padding-bottom: 1.5rem;
  margin-bottom: 1.5rem;
  border-bottom: 2px dashed black;

  &:last-of-type,
  &--last {
    border-bottom: 0;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  &__thumb {
    -webkit-clip-path: polygon(99% 14%, 87% 98%, 3% 86%, 15% 3%);
    clip-path: polygon(99% 14%, 87% 98%, 3% 86%, 15% 3%);
    width: 100%;
  }

  &__heading {
    margin-bottom: 0;
  }

  @include mq($from: large) {
    p {
      font-size: 1.7vw;
    }
  }

}
