.c-post-listing {
  margin: 0 !important;
  padding: 0!important;
  list-style-type: none;
  &__item {
    margin: 0 0 2rem 0 !important;
    padding: 0 0 1rem 0;
    border-bottom: 1px solid #ccc;
    &:last-of-type {
      border-bottom: 0;
    }
  }
  &__title {
    margin-bottom: 0;
  }
  &__date {
    color: #666;
  }
}
