.c-page-section {

  font-family: 'otg-roman',Georgia,Cambria,"Times New Roman",Times,serif;
  padding: 1.5rem;

  // border-bottom: 2px solid #dfdfdf;
  // margin-bottom: 2rem;

  .o-layout, .o-layout__item {
    font-size: 1em;
  }

  &:last-of-type {
    border-bottom: 0;
  }

  @include clearfix;

  ul {
    list-style-position: outside;
    padding: 0 0.75em;
  }

  li {
    margin-bottom: 0.5em;
  }

  @include mq($from: medium) {
    font-size: 2.2vw;
  }

  &__heading {
    border-bottom: 3px solid black;
  }

  &__body {
    & > *:last-child {
      margin-bottom: 0;
    }
    margin-bottom: 2rem;
  }

  @include mq($from: medium) {
    padding-left: 0;
    padding-right: 0;

    &__heading {
      font-size: 2.5rem;
      margin-bottom: 2rem;
    }

    &__subheading {
      font-size: 2.1rem;
      line-height: 1.2;
    }

  }

  @include mq($from: large) {

    &:first-of-type {
      padding-top: 2.6rem;
    }

    padding: 0 0 2.6rem 0;

    &__heading {
      font-size: 2.3rem;
      // border-bottom: 6px solid black;
    }

    font-size: 1.8vw;
    line-height: 1.425;

    &--border-bottom {
      padding-bottom: 4rem;
    }

    img {
      width: 100%;
      display: block;
    }

  }

  @include mq($from: xlarge) {

    font-size: 1.4vw;

  }

}

// .promo-text {
//   text-align: center;
//   font-size: 3.5vw;
//   border-bottom: 3px solid #000;
//   margin-bottom: 1rem;
//   line-height: 1;
//   padding-bottom: 1rem;
//
//   @include mq($until: medium) {
//     padding-bottom: 0;
//   }
//
//   @include mq($from: large) {
//     border-bottom-width: 6px;
//     margin-bottom: 2rem;
//     padding-bottom: 1rem;
//     font-size: 2.5vw;
//   }
// }
