.c-primary-cta {

  padding: 0;
  background: transparent url(/public/images/cta_bg.jpg) no-repeat 50% 50%;

  &__title {
    font-weight: normal;
    font-size: 6.8vw;
    line-height: 1;
    margin-bottom: 0.55vw;
  }

  &__date {
    font-size: 1.3rem;
  }

  &__intro {
    font-family: $webfont-a;
    color: #fff;
    padding: 2rem;
    font-size: 1.25rem;
  }

  &__headline {
    font-size: 3rem;
    font-weight: bold;
  }

  &__countdown {

    font-size: 5vw;

    display: block;

    > span {
      display: block;
    }

    @include mq($until: medium) {
      // text-align: center;
    }

    &-timer {
      margin-bottom: 0.5em;
      line-height: 1.3;
      a {
        color: #fff;
        font-weight: bold;
      }
    }

    &-link {
      display: block;
  		text-align: center;
  		@include mq($from: medium) {
  			display: inline-block;
  		}
  		padding: 0.5em 0.5em;
  		line-height: 1;
  		background: black;
  		background: rgba(#000,0.5);
  		color: white;
  		text-decoration: none;
  		border-radius: $otg-base-radius;
  		&:hover {
  			background: #000;
  		}
    }

  }

  @include mq($from: medium) {

    background-position: 0% 0%;
    background-size: cover;

    @include aspect-ratio(640,247,'.c-primary-cta__content');

    &__intro {
      padding: 3vw 0;
      line-height: 1.6;
      font-size: 2vw;
    }

    &__headline {
      font-size: 4.2vw;
      line-height: 1.1;
      font-weight: bold;
      margin-bottom: 1.5vw;
    }

    &__title {
      font-size: 3.7vw;
      margin-bottom: 0.75vw;
    }

    &__date {
      font-size: 1.5vw;
      // font-weight: bold;
    }

    &__countdown {
      font-size: 2.4vw;
    }

  }

  @include mq($from: large) {

    &__title {
      font-size: 3vw;
    }

  }

}
