.topbar.nobrand {
  border-bottom: 4px solid #F60BC2;
}

.topbar.runway.user_theme_dark {
  background: #000 url(/public/images/logo.svg) no-repeat 50% 50%;
  background-size: 40px 40px;
  border-bottom: 5px solid #F60BC2;
}
