

<div class="module author">
    <perch:if exists="author_image">
        <img src="<perch:blog id="author_image" type="image" label="Image" width="240" height="240" crop="true" density="2" order="5" />" width="120" height="120" alt="<perch:blog id="authorGivenName" type="text" label="Given name" order="1" /> <perch:blog id="authorFamilyName" type="text" label="Given name" order="2" />" />
    </perch:if>
</div>

<perch:blog id="author_twitter" type="text" suppress="true" label="Twitter account" />
